*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f7fc;
}

.hero{
height:350px;
background:
linear-gradient(rgba(0,0,0,.5),
rgba(0,0,0,.5)),
url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3?w=1200");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
color:white;
text-align:center;
}

.overlay h1{
font-size:50px;
margin-bottom:15px;
}

.container{
display:flex;
justify-content:space-between;
gap:30px;
padding:50px;
}

.course-info{
flex:2;
background:white;
padding:30px;
border-radius:15px;
}

.course-actions{
flex:1;
background:white;
padding:30px;
border-radius:15px;
height:fit-content;
text-align:center;
}

.course-actions h2{
color:#2563eb;
font-size:40px;
margin-bottom:20px;
}

.course-actions button{
width:100%;
padding:15px;
margin-bottom:15px;
border:none;
border-radius:10px;
cursor:pointer;
color:white;
font-size:16px;
}

#cartBtn{
background:#10b981;
}

#enrollBtn{
background:#2563eb;
}

.instructor{
display:flex;
align-items:center;
gap:15px;
margin-top:25px;
}

.instructor img{
width:70px;
height:70px;
border-radius:50%;
}

.rating{
margin-top:20px;
font-size:18px;
}

.curriculum,
.reviews{
padding:50px;
}

.curriculum h2,
.reviews h2{
margin-bottom:25px;
}

.curriculum ul{
list-style:none;
}

.curriculum li{
background:white;
padding:15px;
margin-bottom:10px;
border-radius:10px;
}

.review-card{
background:white;
padding:20px;
margin-bottom:15px;
border-radius:10px;
}

@media(max-width:768px){

.container{
flex-direction:column;
padding:20px;
}

.overlay h1{
font-size:35px;
}

.curriculum,
.reviews{
padding:20px;
}

}